/*****************  HEADER STYLING  *****************/




/*****************  MAIN STYLING  *****************/




/*****************  FOOTER STYLING  *****************/

.footer li{
	
	display: inline;
	list-style-type: none;
	padding: 5%;

}