/*****************  HEADER STYLING  *****************/




/*****************  MAIN STYLING  *****************/

thead{
	border-color: gray;
	border: 1px;
}


/*****************  FOOTER STYLING  *****************/

.footer li{
	
	display: inline;
	list-style-type: none;
	padding: 50px;

}